/**
* Variables
* --------------------------------------------------
*/

$images-path:                      "../img/";

 // Colors
 // -------------------------------
$instructions-text-color:         #123343 !default;

//Measures
// -------------------------------
$main-header-height:              132px;
