/**
* Variables
* --------------------------------------------------
*/

$images-path:                      "../img/";

 // Colors
 // -------------------------------
$site-bg:                         #9CCDE8 !default;

//Measures
// -------------------------------
$main-header-height:              132px;
